.under_radius {
    border-radius: 5px;
}

.sub_title {
    color: lightgrey;
    font-size: 18px;
    text-align: left;
    margin: 0px;
    padding: 15px 20px;
    border-bottom: 3px solid lightgrey;
}

.inline_div {
    display:inline-block;
    float:left;
    align:center;
}
/*
.header_emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}*/

.header_title {
    color: ghostwhite;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header_description {
    color: #D5D5DB;
    font-size: 18px;
    font-weight: bold;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.header {/*
    background-color: #222222;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/header.png');
    background-size: cover;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
/*
.header::after {
    height: 256px;
    content: "";
    top: 0;
    left: 0;
    background-image: url('/assets/header.png');
    background-size: 100%;
    opacity:0.5!important;
    filter:alpha(opacity=50);
}
*/

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.18);
}

.menu {
    height : 112px;
    max-width: 1024px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
    margin: 0px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.18);
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control . Select-value, .Select-placeholder{
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.Page-cover {
    padding: 7.5px;
    margin: -8px;
    background-color: #1B263D;
}

.Dash-cover {
    border: 3px solid #374151;
    background-color: #374151;
    border-radius: 10px 10px 10px 10px;
    margin: 0.5%;
}

.Tabs-cover {
    border: 1px;
    border-color: #D6D6D6;
}

.contents-padding {
    padding: 1%;
}

.Top_bar {
    background-color: #374151;
    border: 1px solid #374151;
    border-radius: 7.5px 7.5px 0 0;
    padding: 10px 15px;
    position: relative;
}

.Top_bar_title {
    color: lightgrey;
    font-size: 16px;
    text-align: center;
    display: inline;
}

.Div_center {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12.5px 0 0 -235px;
}
/*
.plotly_icon {
    width: 21px;
    height: auto;
    left: 20%;
}
*/

.Red-btn {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0px 5px;
    border: none;
    border-radius: 7.5px;
    background-color: #EF4444;
}

.Red-btn:hover {
    background-color: #C73939;
}

.Yellow-btn {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0px 5px;
    border: none;
    border-radius: 7.5px;
    background-color: #FDE047;
}

.Yellow-btn:hover {
    background-color: #C9B239;
}

.Green-btn {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0px 5px;
    border: none;
    border-radius: 7.5px;
    background-color: #10B981;
}

.Green-btn:hover {
    background-color: #0D9165;
}

.Tab_deco {
    background-color: #1B263D;
    color: lightgrey;
    border: 1px solid #1B263D;
    margin: 5px;
    border-radius: 10px 10px 0 0;
}

.Tab_deco:hover {
    background: silver;
    border-radius: 50%;
    border-bottom: 20px solid slateblue;
    cursor: pointer;
}






.header-test {
     background-color:lightgrey;
     height:100px;
}

.nav {
     background-color:#339999;
     color:white;
     width:200px;
     height:300px;
     float:left;
}

.footer {
     background-color:#FFCC00;
     height:100px;
     clear: both;
}

.dropdown {
    border: none;
    border-bottom: 3px solid ghostwhite;
    color: orange;
    display: table;
    margin: 10px auto 0 auto;
}

.dropdown_border {
    margin: -15px 0 5px 0;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}

.section {
    line-height:240px;
    width: 40%;
    height : 300px;
    text-align: center;
    float: left;
    border: none;
    border-radius: 5px;
    background-color: #1B263D;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.18);
    flex-wrap: wrap;
    margin: 0.6666666% 0.6666666%;
}

.section_age {
    width: 37%;
    height : 40%;
    text-align: center;
    float: left;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.18);
    content-align: center;
    background-color: #1B263D;
    flex-wrap: wrap;
    margin: 0.6666666% 0.6666666%;
}

.section_gen {
    width: 60%;
    height : 40%;
    text-align: center;
    float: left;
    border: none;
    border-radius: 5px;
    background-color: #1B263D;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.18);
    flex-wrap: wrap;
    margin: 0.6666666% 0.6666666%;
}

.section_country {
    width

}











ul{list-style:none;}

.tabmenu{
  max-width:600px;
  margin: 0 auto;
  position:relative;
}
.tabmenu ul li{
  display: inline-block;
  width:33.33%;
  float:left;
  text-align:center;
  background :#1A243B;
}
.tabmenu ul li a{
  display:block;
  line-height:40px;
  height:40px;
  text-decoration:none;
  color: #000;
}
.tabCon{
  display:none;
  text-align:left;
  padding: 20px;
  position:absolute;
  left:0; top:40px;
  box-sizing: border-box;
  border : 5px solid #f9f9f9;
}
.btnCon:target  {
  background : #ccc;
}
.btnCon:target .tabCon{
  display: block;
}
